@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  height: 100vh;
  align-items: center;
  background-color: #192428;
 
}
.App{
  width: 550px;
  height: 650px;
  background-color:white;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #4e5e6681 ;
  
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 55px;
  background: #F55A5A;
  border-radius: 10px 10px 0 0;
  gap: 7px;
}

nav img{
  width: 24px;
}

nav p{
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #FFFFFF;
}